//
// Calendar
// --------------------------------------------------

#calendar{
	width: auto;
	th{
		width: @dayDescriptorUnit;

	};
	td{
		.transition("width, height 5s ease-out");
		border-left: 1px solid #ddd;
		text-align: left;
		width: @dayDescriptorUnit;
		height: @dayDescriptorUnit;
		padding: 0;
		div.day{
			max-height: @dayDescriptorUnit;
			 minheight: @dayDescriptorUnit;
				 height: @dayDescriptorUnit;
				 width: 100%;
			overflow-y: auto;
			ul#events{
				li.event{
					cursor: pointer;
					padding: @paddingMini;
					font-size: @fontSizeMini;
				};
				li.event.request{
					.buttonBackground(@clickSkyblue, darken(@clickSkyblue, 5%));
					&:hover{
						.buttonBackground(darken(@clickSkyblue, 5%), darken(@clickSkyblue,15%));
					}
				};
				li.event.re-request{
					.buttonBackground(@btnPrimaryBackground, darken(@btnPrimaryBackgroundHighlight, 5%));
				};
				li.event.denied{
					.buttonBackground(@btnDangerBackground, @btnDangerBackgroundHighlight);
					&:hover{
						.buttonBackground(darken(@btnDangerBackground, 5%), darken(@btnDangerBackgroundHighlight,15%));
					}
				};
				li.event.approved{
					.buttonBackground(@btnSuccessBackground, @btnSuccessBackgroundHighlight);
					&:hover{
						.buttonBackground(darken(@btnSuccessBackground, 5%), darken(@btnSuccessBackgroundHighlight,15%));
					}
				};
				li.event.cancelled{
					.buttonBackground(@btnWarningBackground, @btnWarningBackgroundHighlight);
					&:hover{
						.buttonBackground(darken(@btnWarningBackground, 5%), darken(@btnWarningBackgroundHighlight,15%));
					}
				};
				li.event.sickness{
					.buttonBackground(@btnInverseBackground, @btnInverseBackgroundHighlight);
					&:hover{
						.buttonBackground(darken(@btnInverseBackground, 5%), darken(@btnInverseBackgroundHighlight,15%));
					}
				};
				li.event.lateness{
					.buttonBackground(@btnInfoBackground, @btnInfoBackgroundHighlight);
					&:hover{
						.buttonBackground(darken(@btnInfoBackground, 5%), darken(@btnInfoBackgroundHighlight,15%));
					}
				};
			}		
		}
	}
	td.large{		
		.transition("width, height 5s ease-out");
		width: @dayDescriptorUnit*1.2;
		height: @dayDescriptorUnit*1.2;
		div.day{
			max-height: @dayDescriptorUnit*1.2;
			 minheight: @dayDescriptorUnit*1.2;
				 height: @dayDescriptorUnit*1.2;		
		}
	}
	td.extra-large{		
		.transition("width, height 5s ease-out");
		width: @dayDescriptorUnit*1.5;
		height: @dayDescriptorUnit*1.5;
		div.day{
			max-height: @dayDescriptorUnit*1.5;
			 minheight: @dayDescriptorUnit*1.5;
				 height: @dayDescriptorUnit*1.5;		
		}
	}
}