<table id="calendar">
	<thead>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	</thead>
	<tbody>
		<tr class="week">
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
		</tr>
		<tr class="week">
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
		</tr>
		<tr class="week">
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
		</tr>
		<tr class="week">
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
		</tr>
		<tr class="week">
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
		</tr>
		<tr class="week">
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
		</tr>
	</tbody>
</table>