<table id="calendar">
	<thead>
		<th>{{days.first}}</th>
		<th>{{days.second}}</th>
		<th>{{days.third}}</th>
		<th>{{days.fourth}}</th>
		<th>{{days.fifth}}</th>
		<th>{{days.sixth}}</th>
		<th>{{days.seventh}}</th>
	</thead>
	<tbody>
		<tr class="week">
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
		</tr>
		<tr class="week">
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
		</tr>
		<tr class="week">
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
		</tr>
		<tr class="week">
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
		</tr>
		<tr class="week">
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
		</tr>
		<tr class="week">
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
			<td class="day"></td>
		</tr>
	</tbody>
</table>