<!-- Make this responsive... -->
<div class="row-fluid">
  <div class="span12">
  	<p>
  		<h1>Home View</h1>
  		Hey, and welcome to the home view :)
  	</p>
  	<a href="logout">Logout</a>
  	<table id="calendar" class="table table-bordered">
		<thead>
			<tr>
				<th colspan="7">January 2013
					<button id="approved" class="event-filter btn approved active" data-toggle="button">Approved</button>
					<button id="denied" class="event-filter btn denied active" data-toggle="button">Denied</button>
					<button id="cancelled" class="event-filter btn cancelled active" data-toggle="button">Cancelled</button>
					<button id="request" class="event-filter btn request active" data-toggle="button">Pending</button>
					<button id="sickness" class="event-filter btn sickness active" data-toggle="button">Sickness</button>
					<button id="lateness" class="event-filter btn lateness active" data-toggle="button">Lateness</button>
				</th>
			</tr>
			<tr>
				<th>Monday</th>
				<th>Tuesday</th>
				<th>Wednesday</th>
				<th>Thursday</th>
				<th>Friday</th>
				<th>Saturday</th>
				<th>Sunday</th>
			</tr>
		</thead>
		<tbody>
			<tr class="week">
				<td>
					<div class="day">
						<ul id="events" class="unstyled">
							<li class="event approved">Martin Jewell</li>
							<li class="event approved">Katherine Foster</li>
							<li class="event re-request">Super Sexy</li>
							<li class="event request">Martin Jewell</li>
							<li class="event sickness">Katherine Foster</li>
							<li class="event lateness">Super Sexy</li>
							<li class="event cancelled">Martin Jewell</li>
							<li class="event denied">Katherine Foster</li>
							<li class="event approved">Super Sexy</li>
						</ul>
					</div>
				</td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
			</tr>
			<tr class="week">
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
			</tr>
			<tr class="week">
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
			</tr>
			<tr class="week">
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
			</tr>
			<tr class="week">
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
			</tr>
			<tr class="week">
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
			</tr>
		</tbody>
	</table>
  </div>
</div>