<!-- Make this responsive... -->
<div class="row-fluid">
  <div class="span12">
  	<p>
  		<h1>Home View</h1>
  		Hey, and welcome to the home view :)
  	</p>
  	<a href="logout">Logout</a>
  	<table id="calendar" class="table table-bordered">
		<thead>
			<tr>
				<th>Monday</th>
				<th>Tuesday</th>
				<th>Wednesday</th>
				<th>Thursday</th>
				<th>Friday</th>
				<th>Saturday</th>
				<th>Sunday</th>
			</tr>
		</thead>
		<tbody>
			<tr class="week">
				<td>
					<div class="day">
						<ul id="events" class="unstyled">
							<li class="event">Martin Jewell</li>
							<li class="event">Katherine Foster</li>
							<li class="event">Katherine Foster</li>
							<li class="event">Katherine Foster</li>
							<li class="event">Katherine Foster</li>
							<li class="event">Katherine Foster</li>
							<li class="event">Katherine Foster</li>
							<li class="event">Katherine Foster</li>
							<li class="event">Super Sexy</li>
						</ul>
					</div>
				</td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
			</tr>
			<tr class="week">
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
			</tr>
			<tr class="week">
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
			</tr>
			<tr class="week">
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
			</tr>
			<tr class="week">
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
			</tr>
			<tr class="week">
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
				<td class="day"></td>
			</tr>
		</tbody>
	</table>
  </div>
</div>