<!-- Make this responsive... -->
<div id="login-logo"><img src="assets/img/site/logo.jpg" alt="ClickCal"></div>
<div id="login-box">            
  <form id="loginform" class="form-vertical" action="#!/login">
    <p>Enter username and password to continue.</p>
      <div class="control-group">
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-user"></i></span><input id="username" type="text" placeholder="Username" value="">
          </div>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-lock"></i></span><input id="password" type="password" placeholder="Password">
          </div>
        </div>
      </div>
      <div class="form-actions">        
        <span class="pull-left"><div id="login-status"></div></span>
        <span class="pull-right"><input id="login-button" type="submit" class="btn btn-click" value="Login"></span>
      </div>
  </form>
</div>