<ifModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteCond %{REQUEST_URI} !index
    RewriteRule !\.(js|ico|gif|jpg|png|css|html|htm|php|txt|pdf)$ index.html [L]
</ifModule>